<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <!-- <link rel="stylesheet" href="css/mobile.css"> -->
    <link rel="stylesheet" href="css/dekstop.css">
    <!-- <link rel="stylesheet" href="css/laptop.css"> -->
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="image/orignal-logo.svg"alt="">
        </div>
    
    <div class="name">
        <div class="icon">
        <i class="fa fa-phone"></i>
        <span>+91 7990543674</span> &nbsp;&nbsp;&nbsp;
        <span> GET IN TOUCH <i class="fa fa-camera"></i></span> &nbsp;
        <i class="fa fa-search"></i>
        </div>
        
        <ul class="nav">
            <li class="navlist">Sets</li>
            <li class="navlist">Photography</li>
            <li class="navlist">videos</li>
            <li class="navlist">Facilities</li>
            <li class="navlist">Book Now</li>
            <li class="navlist">About Us</li>
            <li class="navlist">Contact Us</li>
        </ul>
        
    </div>

    </div>
    <div class="section">
        <img src="image/Lafabuloso_location_photography_banner_3-4.jpg">

    </div>

    <div class="content">

        <h1>
            Kids Photography
        </h1>
        <br><br>
        
        <h4>DISCOVER NEW TASTE</h4><br><br><br>
        <h2>La Fabuloso – The Most Scenic Pre-Wedding Photo Studio in Ahmedabad, Gujarat</h2><br><br><br><br>
        <h3>We invite you to come and explore the most spacious, spectacular, and the delightful photo studio in Ahmedabad, Gujarat. Whatever is the occasion, we have dedicated sets, world-famous backdrops, countless props and plenty of other lavish amenities to aggrandize your photos.</h3>
    </div>
    <div class="gallery">
        <div class="g1">
            <img src="image/1.jpg" alt="">
        </div>
        <div class="g2">
            <img src="image/2.jpg" alt="">
        </div>
        <div class="g3">
            <img src="image/3.jpg" alt="">
        </div>
    </div>
    <div class="footer">
        <div class="f1">
          <img src="image/footerlogo.png" alt="">
          <ul class="fmenu">
            <li class="fmenulist">SETS</li>
            <li class="fmenulist">Photography</li>
            <li class="fmenulist">Videos</li>
            <li class="fmenulist">Facilities</li>
            <li class="fmenulist">Book Now</li>
            <li class="fmenulist">About Us</li>
            <li class="fmenulist">Contact List</li>
          </ul>
        </div>
        <div class="f2">
            <h3>Contact US</h3>
            <span>
                La Fabuloso,
Kesar weekend house, Sanand – Nalsarover road, Shreenagar patiya, Goraj, Sanand 382 110, Gujarat.
            </span><br>
            <span>
                A-706 One World Capital, Opposite Lane Of Orbit, Off Rajpath Rangoli Road, Bodakdev, Ahmedabad 380 054.
            </span><br>
            <span>
               +91 7990543674
            </span>

        </div>
        <div class="f3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3673.9099927938996!2d72.3093749!3d22.9535417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395ea31588518a2f%3A0xb186a588d67a543d!2sLa%20Fabuloso!5e0!3m2!1sen!2sin!4v1669192479453!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
    </div>
</body>
</html>